 <div class="user-details">
  <h1> What are We </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-inkscape-plain"></i>
    <i class="devicon-gimp-plain colored"></i>
    <p>We use open source tools such as Inkscape and GIMP to facilitate our design process.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-dot-net-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <p>We work with C# and the .Net Framework within Unity and also a number of other languages.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-trello-plain colored"></i>
    <i class="devicon-slack-plain colored"></i>
    <p>We primarily use GitHub for project hosting and community collaboration, Trello for task tracking, and slack for communication.</p>
  </div>
</div>
