 <div class="user-details">
  <h1> What are We </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-inkscape-plain"></i>
    <i class="devicon-gimp-plain colored"></i>
    <p>What we do with Design.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-dot-net-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <p>What we do with Code</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-trello-plain colored"></i>
    <i class="devicon-slack-plain colored"></i>
    <p>What our community uses to collaborate.</p>
  </div>
</div>
